@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary: #aa72c5;
}

html {
    font-size: 10px; 
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
}

.content {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    word-spacing: -1rem;
    color: white;
    filter: drop-shadow(4px 4px 0px var(--primary));
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}


@media (max-width: 600px) {
    h1 { font-size: 2.5rem; }
}