/* projects/02-clock/style.css */

html {
    background: #000 url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?fm=jpg&q=60&w=3000) center center no-repeat;
    background-size: cover;
}

.animation-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    z-index: -1;
    opacity: 0.5;
}

.clock {
    width: 30rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 20px rgba(0,0,0,0.4),
        inset 0 0 10px black;
}

@media (max-width: 480px) {
    .clock {
        width: 22rem;
        height: 22rem;
    }
    
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    background: #EFEFEF;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand { 
    height: 6px; 
    width: 35%; 
    left: 15%; 
} /* Thicker and shorter */
.min-hand { 
    height: 4px; 
}
.second-hand { 
    height: 2px; 
    background: #ffed00; 
}

.num {
    color: #EFEFEF;
    position: absolute;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
}