@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%; /* White */
  --foreground: 222.2 84% 4.9%; /* Black/Dark Navy */
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215 23.64% 60%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
}

.dark {
  /* --background: 222.2 84% 4.9%; */
  --background: 222.2 84% 4.9%;

  --foreground: 210 40% 98%; /* White text */
  
  /* --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%; */
  --primary: 262.1 83.3% 57.8%; 
  /* --primary: 280 48% 61%;  */
  --primary-foreground: 0 0% 100%;

  --card: 222.2 84% 6.5%;
  --border: 217.2 32.6% 17.5%;

  /* --card: 222.2 84% 4.9%; */
  --card-foreground: 210 40% 98%;
  /* --border: 217.2 32.6% 17.5%; */

  
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 70%;

  /* --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%; */
  --accent: 262.1 83.3% 20%;
  --accent-foreground: 210 40% 98%;

  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}